{% extends "travelplans/nav_base.html" %}

{% block content %}
<div class="container">
<h1>This is a quick tutorial for new users</h1>


<h2>View Plan</h2>
<h3>There are three tabs for view plans options.</h3>
<ul>
<li><p>View available plans show all plans that you can see. Notice that the available plans are only those plans created by yourself, your friends on Facebook and Administrator. You can not view plans created by any strangers.
</p></li>
<li><p>View my plans tab will show you the plans you have created.</p></li>

<li><p>View Join plans tab will show you the plans you have joined.</p></li>
</ul>
<h2>Filter</h2>
<h3>To search for a specific condition of travel plans, you can use the filter box.</h3>
<ul>
<li><p>The destination field will only show the plans that destination name contains the query string.<p></li>
<li><p>The depart after field will only show the plans that depart after the query time.</p></li>
<li><p>The return before field will only show the plans that return before the query time.</p></li>
</ul>
<p>These three conditions can be combined to filter. </p>
<h2>Create Plan</h2>
<p>To create a new plan, click the create new plan tab in the navigation bar</p>
<h2>Join Plan</h2>
<p>Click into the plan detail page, and click the join plan button.</p>
<h2>Edit Plan</h2>
<p>Click into the plan detail page, and click the edit plan button.</p>
<h2>Delete Plan</h2>
<p>Click into the plan detail page, and click the delete plan button.</p>
<h2>Share Plan</h2>
<p>Click into the plan detail page, and click the share plan button.</p>
</div>
{% endblock %}