
{% extends 'travelplans/base.html' %}
{% block main %}
{% load staticfiles %}
   
    
    <script type="text/javascript" src="{% static 'travelplans/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'travelplans/request.js' %}"></script>

    <div  class="container-fluid">
      <nav class="row navbar-custom">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'travelplans:view_plans' %}" style="color:white">AJourney</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul id="plantab" class="nav navbar-nav">
              <li id="allplan"><a href="{% url 'travelplans:view_plans' %}">All Plans</a></li>
              <li id="myplan"><a href="{% url 'travelplans:view_my_plans' %}">My Plans</a></li>
              <li id="jplan"><a href="{% url 'travelplans:view_joined_plans' %}">Joined Plans</a></li>
              <li id="createplan"><a href="#" data-toggle="modal" data-target="#createNewPlanModal"> Create New Plan </a></li>
	      <li id="help"><a href="{% url 'travelplans:help' %}">Help</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Welcome, {{user.first_name}}</a></li>
              <li><a href="{% url 'auth:logout' %}?next={{ '/' }}">Logout </a></li>  
            </ul>
          </div><!--/.nav-collapse -->
      </nav>

      <div class="row" id="updatecontent">
        {% block content %}{% endblock %}
      </div>
    <br/>
    <br/>
    </div> <!-- /container -->
   
<div class="modal fade" id="createNewPlanModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New Plan</h4>
      </div>
      <div class="modal-body">
        <form id="createform" role="form" name="{% url 'travelplans:create_plan' %}" method="post">
        {% csrf_token %}
            <div class="form-group">
                <label for="newdestination">Destination</label>
                <input type="text" name="destination" class="createinput form-control" id="newdestination" placeholder="Enter Destination">
            </div>
            <div class="form-group">
                <label for="newdepart">Depart Time</label>
                <input type="date" name="departtime" class="createinput form-control" id="newdepart" placeholder="Depart Time">
            </div>
            <div class="form-group">
                <label for="newreturn">Return Time</label>
                <input type="date" name="returntime" class="createinput form-control" id="newreturn" placeholder="Return Time">
            </div>
            <div class="form-group">
                <label for="newdescription">Description</label>
                <textarea class="createinput form-control" name="description" id="newdescription" placeholder="Enter Description" row="3"></textarea>
            </div>
            <div class="form-group">
                <label for="newlimit">Max Travellers</label>
                <input type="number" name="limit" class="createinput form-control" id="newlimit" placeholder="Enter Max Number of Travellers">
            </div>
            <button id="createbutton" type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
 <!-- Modal -->

{% endblock %}
