{% extends "travelplans/index.html" %}

{% block content %}
{% load staticfiles %}

<div class="container col-md-8 col-md-offset-2">
<div class="row" style="padding-top:50px">
	<div class="col-md-3">
		<img src="{% static 'travelplans/sample.jpg' %}" class="img-circle" style="height:200px;width:200px">
	</div>
	<div class="col-md-7" style="">
		{% ifequal sharable True %}
		<div class="row">
			<p><button class="btn btn-primary pull-right" data-toggle="modal" data-target="#sharePlanModal">Share Plan
			</button></p>
		</div>
		<br/>
			{% ifequal joinable True %}
				<div class="row">
					<p><button class="btn btn-primary pull-right" data-toggle="modal" data-target="#joinPlanModal">Join Plan
					</button></p>
				</div>
				<br/>
			{% endifequal %}
		{% endifequal %}
		{% ifequal editable True %}
			<div class="row">
				<p>
					<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#editPlanModal">
						Edit Plan
					</button>
				</p>
			</div>
			<br/>
			<div class="row">
				<p>
				<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#deletePlanModal">Delete Plan
				</button>
			</p>
			</div>
			<br/>
		{% endifequal %}
		
	</div>
</div>

<div class="row" style="padding-top:50px">
	<p class="bg-info" style="font-size:20px; padding-top:50px; padding-left:20px; padding-right:20px; padding-bottom:50px">
	Plan Owner: {{plan.holder.first_name}} {{plan.holder.last_name}}
	<br/>
	Destination: {{plan.destination}}
	<br/> 
	Depart Date: {{plan.depart_time| date:"m-d-Y"}}
	<br/> 
	Return Date: {{plan.return_time| date:"m-d-Y"}}
	<br/> 
	Description: {{plan.description}}
	<br/>
	Max Travellers: {{plan.limit}}
	<br/>
	Already Joined Travellers: 
	{% if joiners.0 %}
		{% for joiner in joiners %}
		{{joiner.first_name}} {{joiner.last_name}},
		{% endfor %}
	{% endif %}
	{% if not joiners.0 %}
	None
	{% endif %}
	</p>
</div>

</div>

<div class="modal fade" id="editPlanModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Plan</h4>
      </div>
      <div class="modal-body">
        <form id="editform" role="form" name="{% url 'travelplans:edit_plan' plan.id%}" method="post">
        {% csrf_token %}
            <div class="form-group">
                <label for="editdestination">Destination</label>
                <input type="text" name="editdestination" class="editinput form-control" id="editdestination" value="{{plan.destination}}">
            </div>
            <div class="form-group">
                <label for="editdepart">Depart Time</label>
 <input type="date" name="editdepart" class="editinput form-control" id="editdepart" value="{{plan.depart_time| date:"m-d-Y"}}">
            </div>
            <div class="form-group">
                <label for="editreturn">Return Time</label>
  <input type="date" name="editreturn" class="editinput form-control" id="editreturn" value="{{plan.return_time| date:"m-d-Y"}}">
            </div>
            <div class="form-group">
                <label for="editdescription">Description</label>
 <textarea class="editinput form-control" name="editdescription" id="editdescription" row="3">{{plan.description}}
 </textarea>
            </div>
            <div class="form-group">
                <label for="editlimit">Max Travellers</label>
                <input type="number" name="editlimit" class="editinput form-control" id="editlimit" value="{{plan.limit}}">
            </div>
            <button id="editbutton" type="submit" class="btn btn-primary">Done</button>
        </form>
      </div>
    </div>
  </div>
</div>
 <!-- Modal -->

 <div class="modal fade" id="deletePlanModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Plan</h4>
      </div>
      <div class="modal-body">
        <form id="deleteform" role="form" name="{% url 'travelplans:delete_plan' plan.id%}" method="post">
        	{% csrf_token %}
        <p> Are you sure you want to delete this plan? </p>
            <button id="deletebutton" type="submit" class="btn btn-primary">Yes</button>
        </form>
      </div>
    </div>
  </div>
</div>
 <!-- Modal -->

 <div class="modal fade" id="joinPlanModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Join Plan</h4>
      </div>
      <div class="modal-body">
        <form id="joinform" role="form" action="{% url 'travelplans:delete_plan' plan.id%}" method="post">
        	{% csrf_token %}
        <p> Do you want to join this plan? </p>
            <button id="joinbutton" type="submit" class="btn btn-primary">Yes</button>
        </form>
      </div>
    </div>
  </div>
</div>
 <!-- Modal -->

 <div class="modal fade" id="sharePlanModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Share Plan at Facebook</h4>
      </div>
      <div class="modal-body">
        <form id="shareform" role="form" action="{% url 'travelplans:delete_plan' plan.id%}" method="post">
        	{% csrf_token %}
         <label for="sharecomment">Sharing comment</label>
 <textarea class="editinput form-control" name="sharecomment" id="sharecomment" row="3">Hey there is a travelling to {{plan.destination}} between {{plan.depart_time| date:"m-d-Y"}} and {{plan.return_time| date:"m-d-Y"}}. Do you want to join? Let's hang out! 
 </textarea>
            <button id="joinbutton" type="submit" class="btn btn-primary">Yes</button>
        </form>
      </div>
    </div>
  </div>
</div>
 <!-- Modal -->
{% endblock %}