

<!DOCTYPE html>
<html lang="en">
  <div>

  </div>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   

  </head>
  <body>
    <div class="col-md-2">
        <h3><span>Filters</span></h3>
        <form role="form" class="search">
            <!-- here need to deal with parameter of user -->
            <div class="form-group">
                <label for="destinationfilter">Destination</label>
                <input type="text" class="form-control" id="destinationfilter" placeholder="Enter Destination">
            </div>
            <div class="form-group">
                <label for="departfilter">Depart Time</label>
                <input type="date" class="form-control" id="departfilter" placeholder="Depart Time">
            </div>
            <div class="form-group">
                <label for="returnfilter">Return Time</label>
                <input type="date" class="form-control" id="returnfilter" placeholder="Return Time">
            </div>
            <button id="searchbutton" type="submit" class="btn btn-primary">Search Plans</button>
        </form>
   
    </div>
    <div class="col-md-10">
         
         <br/>
         <br/>
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">{{list_title}}</div>

            {% if plan_list.0 %}
            <table id="plantable" class="table table-striped">
                <tr>
                    <td>Destination</td>
                    <td>Depart Time</td>
                    <td>Return Time</td>
                    <td>Description</td>
                    <td>Holder</td>
                    <td>Max Traveller</td>
                </tr>
                
                {% for plan in plan_list %}
                <tr class="plan_tr">
                    <td class="plan_dest"><a href="view_plan_detail?planid={{plan.id}}">{{ plan.destination }}</a></td>
                    <td class="plan_dep">{{ plan.depart_time | date:"m-d-Y" }}</td>
                    <td class="plan_ret">{{ plan.return_time | date:"m-d-Y"}}</td>
                    <td class="plan_description">{{ plan.description }}</td>
                    <td class="plan_holder">{{ plan.holder }}</td>
                    <td class="plan_limit">{{plan.limit}}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No plans are available.</p>
            {% endif %}
    </div>
    </div>


  </body>
</html>