

<!DOCTYPE html>
<html lang="en">
  <div>

  </div>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="col-md-2">
        <h3><span>Filters</span></h3>
        <form role="form">
            <div class="form-group">
                <label for="destinationfilter">Destination</label>
                <input type="text" class="form-control" id="destinationfilter" placeholder="Enter Destination">
            </div>
            <div class="form-group">
                <label for="departfilter">Depart Time</label>
                <input type="date" class="form-control" id="departfilter" placeholder="Depart Time">
            </div>
            <div class="form-group">
                <label for="returnfilter">Return Time</label>
                <input type="date" class="form-control" id="returnfilter" placeholder="Return Time">
            </div>
            <button type="submit" class="btn btn-primary">Search Plans</button>
        </form>
   
    </div>
    <div class="col-md-10">
         <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createNewPlanModal"> Create New Plan </button>
         <br/>
         <br/>
    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">All Available Plans</div>

            {% if plan_list.0 %}
            <table class="table table-striped">
                <tr>
                    <td>Destination</td>
                    <td>Depart Time</td>
                    <td>Return Time</td>
                    <td>Description</td>
                    <td>Holder</td>
                </tr>
                
                {% for plan in plan_list %}
                <tr>
                    <td>{{ plan.destination }}</td>
                    <td>{{ plan.depart_time }}</td>
                    <td>{{ plan.return_time}}</td>
                    <td>{{ plan.description }}</td>
                    <td>{{ plan.holder }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No plans are available.</p>
            {% endif %}
    </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="createNewPlanModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New Plan</h4>
      </div>
      <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <label for="newdestination">Destination</label>
                <input type="text" class="form-control" id="newdestination" placeholder="Enter Destination">
            </div>
            <div class="form-group">
                <label for="newdepart">Depart Time</label>
                <input type="date" class="form-control" id="newdepart" placeholder="Depart Time">
            </div>
            <div class="form-group">
                <label for="newreturn">Return Time</label>
                <input type="date" class="form-control" id="newreturn" placeholder="Return Time">
            </div>
            <div class="form-group">
                <label for="newdescription">Description</label>
                <textarea class="form-control" id="newdescription" placeholder="Enter Description" row="3"></textarea>
            </div>
            <div class="form-group">
                <label for="newlimit">Max Travellers</label>
                <input type="number" class="form-control" id="newlimit" placeholder="Enter Max Number of Travellers">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>

  </body>
</html>